{% extends 'admin/layout/layout.html' %} {% load staticfiles %} {% block top %}
<title>Novo Evento</title>
{% endblock %} {% block nome %}{{nome}} {% endblock %}{% block content %}
<link rel="stylesheet" href="{% static 'vendor/libs/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.css' %}">
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.js' %}"></script>
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}">
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<div class="container-fluid">
    <div class="row m-1">
        <div class="col-12" style="margin-left:40px;">
            <h4>Criando novo evento</h4>
            <hr class="border-light container-m--x my-2" style="width: calc(100% - 15px)">
        </div>
    </div>
    <div class="row m-4">
        <div class="col-12">
            <form action="{% url 'url_novoevento' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card mb-4">
                    <h5 class="card-header">
                        Informações
                    </h5>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="form-label">Nome</label> {{form.nome}}
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label">Campus</label> {{form.campus}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label class="form-label">Data de inicio</label> {{form.data_inicial}}
                            </div>
                            <div class="form-group col-md-3">
                                <label class="form-label">Horario de inicio</label> {{form.hora_inicial}}
                            </div>
                            <div class="form-group col-md-3">
                                <label class="form-label">Data de encerramento</label> {{form.data_final}}
                            </div>
                            <div class="form-group col-md-3">
                                <label class="form-label">Horario de encerramento</label> {{form.hora_final}}
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="form-label w-100">Banner do evento</label> {{form.banner}}
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label w-100">Descrição</label> {{form.descricao}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <h5 class="card-header">
                        Organização
                    </h5>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="list-group col-md-12">
                                {{form.organizadores}}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success mt-5">Criar</button>
                    </div>
                </div>
            </form>
            <script>
                $(document).ready(function() {
                    $('input.datapick').bootstrapMaterialDatePicker({
                        weekStart: 0,
                        time: false,
                        clearButton: true,
                        switchOnClick: true
                    });
                    $('input.timepick').bootstrapMaterialDatePicker({
                        date: false,
                        shortTime: false,
                        format: 'HH:mm',
                        switchOnClick: true
                    });
                    $('select').select2();
                });
            </script>
        </div>
    </div>
</div>

{% endblock %}