{% extends 'layout/layout.html' %} {% load staticfiles %} {% block top %}
<title>Certificados</title>
{% endblock %}{% block nome %}
<img src="{{logadoUsuario.foto.url}}" alt class="d-block ui-w-30 rounded-circle">
<span class="px-1 mr-lg-2 ml-2 ml-lg-0">{{logadoUsuario.nome}}</span> {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row m-1">
        <div class="col-12" style="margin-left:40px;">
            <h4>Meus Certificados</h4>
            <hr class="border-light container-m--x my-2" style="width: calc(100% - 30px)">
        </div>
    </div>
    <div class="row m-4">
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Descrição</th>
                        <th scope="col">Evento</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Participação no evento</th>
                        <td>VI Congresso de Ensino, Pesquisa e Extensão</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modals-default">Visualizar
                            </button>
                                <button class="btn btn-secondary" onclick="window.location.href='{% static 'img/certificado.jpg' %}'">Baixar
                            </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Submissão do trabalho "Reaproveitamento de restos de curtimento"</th>
                        <td>VI Congresso de Ensino, Pesquisa e Extensão</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modals-default">Visualizar
                            </button>
                                <button class="btn btn-secondary" onclick="window.location.href='{% static 'img/certificado.jpg' %}'">Baixar
                            </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Presença na palestra "Diversidade Religiosa"</th>
                        <td>VI Congresso de Ensino, Pesquisa e Extensão</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modals-default">Visualizar
                            </button>
                                <button class="btn btn-secondary" onclick="window.location.href='{% static 'img/certificado.jpg' %}'">Baixar
                            </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="layout-overlay layout-sidenav-toggle"></div>
            <div class="modal fade" id="modals-default" style="display: none; padding-right: 12px;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                Visualização
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                        </div>
                        <div class="modal-body">
                            <img src="{% static 'img/certificado.jpg' %}" width="100%">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary" onclick="window.location.href='{% static 'img/certificado.jpg' %}'">Baixar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}