{% extends 'layout/layout.html' %}
{% load staticfiles %}
{% block top %}

{% endblock %}

{% block content %}
<h4 class="d-flex flex-wrap justify-content-between align-items-center font-weight-bold pt-1 mb-1"
    style="margin-left:44px">
    <div class="mb-2">Eventos</div>
</h4>
<div class="table-responsive ui-bordered m-4">
    <table class="clients-table table table-hover m-0">
        <tbody>
        <tr>
            <td class="align-middle py-3">
                <div class="media align-items-center">
                    <img src="../static/img/avatars/1.png" class="d-block ui-w-60 rounded-circle" alt="">
                    <div class="media-body flex-basis-auto pl-3">
                        <div><a href="{% url 'url_visuevento' %}">5° Mostra de Software</a></div>
                    </div>
                </div>
            </td>
            <td class="align-middle py-3">
                Campus Ji-Paraná
            </td>
            <td class="align-middle py-3">
                23/11/2018
                <br> 24/11/2018
            </td>
            <td class="align-middle py-3">
                <span class="badge badge-success">Inscrições Abertas</span>
            </td>
        </tr>

        <tr class="bg-light">
            <td class="align-middle py-3">
                <div class="media align-items-center">
                    <img src="../static/img/avatars/1.png" class="d-block ui-w-60 rounded-circle" alt="">
                    <div class="media-body flex-basis-auto pl-3">
                        <div><a href="{% url 'url_visuevento' %}">VII Congresso de Agronomia</a></div>
                    </div>
                </div>
            </td>
            <td class="align-middle py-3">
                Campus Colorado
            </td>
            <td class="align-middle py-3">
                29/10/2018
                <br> 02/11/2018
            </td>
            <td class="align-middle py-3">
                <span class="badge badge-success"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}