{% extends 'layout/layout.html' %} {% load staticfiles %} {% block top %}
<title>Eventos</title>
{% endblock %} {% block nome %}
<img src="{{logadoUsuario.foto.url}}" alt class="d-block ui-w-30 rounded-circle">
<span class="px-1 mr-lg-2 ml-2 ml-lg-0">{{logadoUsuario.nome}}</span> {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12" style="margin-left:40px;">
            <h4>Eventos</h4>
            <hr class="border-light container-m--x my-2" style="width: calc(100% - 30px)">
        </div>
    </div>
    <div class="row m-4">
        <div class="col-12">
            <div class="table-responsive ui-bordered">
                <table class="clients-table table table-hover m-0">
                    <tbody>
                        {% for evento in eventoslista %}
                        <tr>
                            <td class="align-middle py-3">
                                <div class="media align-items-center">
                                    <img src="{{evento.banner.url}}" class="d-block ui-w-60 rounded" alt="">
                                    <div class="media-body flex-basis-auto pl-3">
                                        <div><a href="{% url 'url_evento' %}?evento={{ evento.nome}}">{{ evento.nome }}</a></div>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle py-3">
                                {{evento.campus.nome}}
                            </td>
                            <td class="align-middle py-3">
                                {{ evento.data_inicial }}
                                <br> {{ evento.data_final }}
                            </td>
                            <td class="align-middle py-3">
                                {% if evento.situacao == "Inscrições abertas" %}
                                <span class="badge badge-success">
                                    {{evento.situacao}}
                                </span> {% endif %} {% if evento.situacao == "Encerrado" %}
                                <span class="badge badge-danger">
                                    {{evento.situacao}}
                                </span> {% endif %} {% if evento.situacao == "Em andamento" %}
                                <span class="badge badge-info">
                                    {{evento.situacao}}
                                </span> {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}