 {% extends 'layout/layout.html' %} {% load qr_tags %} {% block top %}
<title>Certificados</title>
{% endblock %}{% block nome %}
<img src="{{logadoUsuario.foto.url}}" alt class="d-block ui-w-30 rounded-circle">
<span class="px-1 mr-lg-2 ml-2 ml-lg-0">{{logadoUsuario.nome}}</span> {% endblock %} {% block content %}
<div class="container">
    <div class="row">
        {% for participante in participantes %}
        <div class="col-3 cracha">
            <h4>{{ participante.evento.nome }}</h4>
            <p>{{ participante.usuario.nome }}</p>

            <div class="qr">{% qr_from_text "{{ participante.pk }}" "S" %}</div>
            <small>100{{ participante.pk }}</small>
        </div>
        {% endfor %}
    </div>

</div>
<style>
    .container {
        margin: 3em;
    }
    
    .cracha {
        background-color: #ABCDEF;
        min-height: 200px;
        padding: 5%;
        padding-top: 3%;
        text-align: center;
        margin: 0.5%;
    }
    
    .qr {
        margin: auto;
    }
    
    .titulo {
        margin-top: 5%;
        margin-bottom: 10%;
    }
</style>
{% endblock %}