{% extends 'layout/layout.html' %} {% load staticfiles %} {% block top %}
<title>Nova atividade</title>
{% endblock %} {% block nome %}
<img src="{{logadoUsuario.foto.url}}" alt class="d-block ui-w-30 rounded-circle">
<span class="px-1 mr-lg-2 ml-2 ml-lg-0">{{logadoUsuario.nome}}</span> {% endblock %} {% block content %}

<link rel="stylesheet" href="{% static 'vendor/libs/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.css' %}">
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.js' %}"></script>
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}">
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>

<div class="container-fluid">
    <div class="row m-1">
        <div class="col-12" style="margin-left:40px;">
            <h4>Nova atividade</h4>
            <hr class="border-light container-m--x my-2" style="width: calc(100% - 15px)">
        </div>
    </div>
    <div class="row m-4">
        <div class="col-12">
            <div class="card mb-4">
                <h5 class="card-header">
                    Formulário
                </h5>
                <div class="card-body">
                    <form action="{% url 'url_criarativi' %}" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label class="form-label">Titulo da atividade</label> {{form.titulo}}
                                <!-- <input type="text" class="form-control" placeholder="Titulo"> -->
                            </div>
                            <div class="form-group col-md-5">
                                <label class="form-label">Local da atividade</label>{{form.local}}
                                <!-- <input type="text" class="form-control" placeholder="Sala"> -->
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="form-label">Dia</label> {{form.data}}
                                <!-- <input type="text" name="" class="form-control datapick" placeholder="AAAA-MM-DD"> -->
                            </div>
                            <div class="form-group col-md-6">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Horario de inicio</label>{{form.hora_inicial}}
                                        <!-- <input type="time" name="" class="form-control timepick" value="00:00"> -->
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Horario de encerramento</label>{{form.hora_final}}
                                        <!-- <input type="time" name="" class="form-control timepick" value="00:00"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="form-label">Evento</label> {{form.evento}}
                                <!-- <input type="text" class="form-control" placeholder="Titulo"> -->
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label class="form-label">Adicionar apresentadores</label>{{form.responsaveis}}
                                <!-- <select multiple="multiple">
                                    <option>Palestra</option>
                                    <option>Oficina</option>
                                    <option>Minicurso</option>
                                </select> -->
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Tipo</label>{{form.tipo}}
                                <!-- <select>
                                <option>Palestra</option>
                                    <option>Oficina</option>
                                    <option>Minicurso</option>
                                </select> -->
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="form-label">Descrição</label> {{form.descricao}}
                                <!-- <textarea class="form-control bg-lighter" rows="6"></textarea> -->
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success">Criar atividade</button>
                        <a href="{% url 'url_atividade' %}">
                            <button type="button" class="btn btn-default">Cancelar</button>
                        </a>
                    </form>
                </div>

                <script>
                    $(document).ready(function() {
                        $('input.datapick').bootstrapMaterialDatePicker({
                            weekStart: 0,
                            time: false,
                            clearButton: true,
                            switchOnClick: true
                        });
                        $('input.timepick').bootstrapMaterialDatePicker({
                            date: false,
                            shortTime: false,
                            format: 'HH:mm',
                            switchOnClick: true
                        });
                        $('select').select2({
                            placeholder: "Selecione!"
                        });
                        $('#evento').change(function() {
                            $.get("{% url 'url_procurar' %}", function(data) {
                                evento = data['evento'];
                                console.log(evento)
                                event.defaultPrevented()
                                    // for (let index = 0; index < evento.length; index++) {
                                    //     if (evento[index].id == event.target.value) {
                                    //         $('input.datapick').bootstrapMaterialDatePicker('setMinDate', evento[index].data_inicial);
                                    //         $('input.datapick').bootstrapMaterialDatePicker('setMaDate', evento[index].data_final);
                                    //     }
                                    // }
                            });
                        });
                    });
                </script>

            </div>
        </div>
    </div>
</div>
{% endblock %}