{% extends 'layout/layout.html' %} {% load staticfiles %} {% block top %}
<title>{{ evento }}</title>
{% endblock %} {% block nome %}
<img src="{{logadoUsuario.foto.url}}" alt class="d-block ui-w-30 rounded-circle">
<span class="px-1 mr-lg-2 ml-2 ml-lg-0">{{logadoUsuario.nome}}</span> {% endblock %} {% block content %}
<div class="container-fluid pl-5 pr-5">
    <div class="row">
        <div class="col-12 ml-2 mb-3">
            <div class="modal modal-fill-in fade" id="modals-fill-in" style="display: none;" aria-hidden="true">
                <div class="modal-dialog model-lg">
                    <div class="modal-content">
                        <img src="{{evento.banner.url}}" alt="">
                    </div>
                </div>
            </div>
            <div class="bannerEvento" data-toggle="modal" data-target="#modals-fill-in"></div>
            <style>
                div.bannerEvento {
                    cursor: pointer;
                    height: 160px;
                    width: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url('{{evento.banner.url}}');
                    transition: all .4s ease-in-out;
                    background-size: 100%;
                    border-radius: 6px;
                    margin-bottom: 15px;
                    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3)
                }
                
                div.bannerEvento:hover {
                    background-size: 103%;
                }
            </style>
            <br>
            <h4 class="font-weight-bold py-6 mb-3 mt-2">
                {{ evento.nome }}
                <div class="text-muted text-tiny mt-2">
                    <small class="font-weight-normal">Data de Inicio: {{ evento.data_inicial }}</small>
                    <small class="font-weight-normal" style="margin-left:10px">Data de Termino: {{ evento.data_final }}</small>
                    <br>
                    <small class="font-weight-normal">Horario de Inicio: {{ evento.hora_inicial }}</small>
                    <small class="font-weight-normal" style="margin-left:30px">Horario de Inicio: {{ evento.hora_final }}</small>
                    <br>
                    <small class="font-weight-normal">Local: {{ evento.campus.nome }}</small>
                </div>
            </h4>
            <hr class="border-light container-m--x my-2">
        </div>
    </div>
    <div class="row">
        <div class="col-6 bg-white rounded pt-4">
            <h4 class="font-weight-bold ml-3">Sobre</h4>
            <p class="lead m-4 text-justify ident">{{ evento.descricao }}</p>
        </div>
        <div class="col-6 bg-white rounded pt-4">
            <h4 class="font-weight-bold">Organizadores</h4>
            {% for servidor in evento.organizadores.all %}
            <div class="row">
                <div class="col-2">
                    <img src="{{servidor.usuario.foto.url}}" alt class="d-block ui-w-60 rounded-circle">
                </div>
                <div class="col-10">
                    <h5>{{servidor.usuario.nome}}</h5>
                    <p class=" text-justify m-3" style="font-size:13px ">{{servidor.usuario.descricao}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 ">
            <h4 class="font-weight-bold ml-3">Atividades recentes</h4>
            <hr class="border-light container-m--x my-2 ml-2 mr-2">
        </div>
    </div>
    <div class="row mt-3">

        <div class="col-sm-6 col-xl-4 ">
            <div class="card mb-4 ">
                <div class="card-body d-flex justify-content-between align-items-start pb-3 ">
                    <div>
                        <a href="javascript:void(0) " class="text-dark text-big font-weight-semibold ">Conhecendo Big
                            Data</a>
                        <span class="badge badge-success align-text-bottom ml-1 ">5 vagas</span>
                        <div class="text-muted small mt-1 ">Palestra</div>
                    </div>
                    <div class="btn-group project-actions ">
                        <button type="button " class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow " data-toggle="dropdown ">
                            <i class="ion ion-ios-more "></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right ">
                            <a class="dropdown-item " href="javascript:void(0) ">Editar</a>
                            <a class="dropdown-item " href="javascript:void(0) ">Remover </a>
                        </div>
                    </div>
                </div>
                <div class="card-body pb-3 text-justify ident">
                    IoT é onde a tecnologia da informação atende à tecnologia de operações. Aqui, os sistemas de dados que mantêm os negócios funcionando convergem com as máquinas que fabricam muitos dos produtos que essas empresas vendem. E o mundo da TI nunca será o mesmo.
                </div>
                <div class="card-body pt-0 ">
                    <div class="row ">
                        <div class="col ">
                            <div class="text-muted small ">Inicio</div>
                            <div class="font-weight-bold ">24/11/2018 <br> 14:00</div>
                        </div>
                        <div class="col ">
                            <div class="text-muted small ">Término</div>
                            <div class="font-weight-bold ">24/11/2018 <br> 18:00</div>
                        </div>
                    </div>
                </div>
                <hr class="m-0 ">
                <div class="card-body py-3 ">
                    <div class="text-muted small mb-2 ">Palestrantes</div>
                    <div class="d-flex flex-wrap ">
                        <a href="javascript:void(0)" class="d-block mr-1 mb-1 ">
                            <img src="../static/img/avatars/1.png " alt=" " class="ui-w-40 rounded-circle ">
                        </a>
                        <a href="javascript:void(0) " class="d-block mr-1 mb-1 ">
                            <img src="../static/img/avatars/1.png " alt=" " class="ui-w-40 rounded-circle ">
                        </a>
                        <a href="javascript:void(0) " class="d-block mr-1 mb-1 ">
                            <img src="../static/img/avatars/1.png " alt=" " class="ui-w-40 rounded-circle ">
                        </a>
                        <a href="javascript:void(0) " class="d-block mr-1 mb-1 ">
                            <img src="../static/img/avatars/1.png " alt=" " class="ui-w-40 rounded-circle ">
                        </a>
                        <a href="javascript:void(0) " class="d-block mr-1 mb-1 ">
                            <img src="../static/img/avatars/1.png " alt=" " class="ui-w-40 rounded-circle ">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}